body{
  background-color: lightgoldenrodyellow !important;
  width: 100%;
  font-family: futura, sans-serif;
}

h1{
  font-family: futura, sans-serif;
  text-align: center;
  font-size: 44px;
  margin: 20px;
}

p {
  font-family: futura, sans-serif;
  text-align: center;
  margin: 5px;
}

a {
  text-decoration: none;
}
button {
    font-family: futura, sans-serif;
  font-size: 30px;
}

.baseNav {
  margin: 24px;
  padding: 24px;
  background-color: darkslateblue;

}

.navWrapper {
  margin-top: 10%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crayon {
  width: inherit;
  max-width: 300px;
}

.seashell {
  max-height: 300px
}

@media only screen and (max-width: 600px) {
  .navWrapper {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .navWrapper {
    flex-direction: column;
  }

  .no-mobile {
    visibility: hidden;
    height: 0;
  }
}