.pallet {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
}

.currentColor {
  background-color: red;
  border: .5px solid black;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 30px;
  width: 60px;
}

.color {
  border: .5px solid black;
  height: 50px;
  width: 100%;
}
